{% extends 'main.html' %}

{% block content %}
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{ unread_messages_count }}</span>)</h3>
      <ul class="messages">
        {% for message in unread_messages %}
            <li class="message message--unread">
              <a href="{% url 'message' message.pk %}">
                  {% if message.sender %}
                    <span class="message__author">{{ message.sender.name }}</span>
                  {% elif message.name is not None %}
                    <span class="message__author">{{ message.name }}</span>
                  {% endif %}
                <span class="message__subject">{{ message.subject }}</span>
                <span class="message__date">{{ message.created }}</span>
              </a>
            </li>
        {% endfor %}
        {% for r_message in read_messages %}
            <li class="message">
              <a href="{% url 'message' r_message.pk %}">
                  {% if r_message.sender %}
                    <span class="message__author">{{ r_message.sender.name }}</span>
                  {% elif r_message.name is not None %}
                    <span class="message__author">{{ r_message.name }}</span>
                  {% endif %}
                <span class="message__subject">{{ r_message.subject }}</span>
                <span class="message__date">{{ r_message.created }}</span>
              </a>
            </li>
        {% endfor %}
      </ul>
    </div>
  </main>
{% endblock %}