{% extends 'main.html' %}
{% load static%}

{% block content %}
    {% if page == 'register' %}
        <h2>register user</h2>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="register">


        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

    {% else %}

    <div class="auth">

        <div class="card">

          <div class="auth__header text-center">
            <a href="/">
              <img src="{% static 'images/icon.svg' %}" alt="icon" />
            </a>
            <h3>Account Login</h3>
            <p>Hello Developer, Welcome Back!</p>
          </div>

          <form action="{% url 'login' %}" method="POST" class="form auth__form">
            {% csrf_token %}
            <!-- Input:username -->
            <div class="form__field">
              <label for="formInput#text">Username: </label>
              <input class="input input--text" id="formInput#text" type="text" name="username"
                placeholder="Enter your username..." />
            </div>

            <!-- Input:Password -->
            <div class="form__field">
              <label for="formInput#password">Password: </label>
              <input class="input input--password" id="formInput#passowrd" type="password" name="password"
                placeholder="••••••••" />
            </div>
            <div class="auth__actions">
              <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
              <a href="forgetpassword.html">Forgot Password?</a>
            </div>
          </form>

          <div class="auth__alternative">
            <p>Don’t have an Account?</p>
            <a href="{% url 'register' %}">Sign Up</a>
          </div>
        </div>
    </div>
    {% endif %}

{% endblock %}